@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content{
  padding-top: 40px;
}

.blur {
  filter: blur(120px);
}

/* === Ari W9500 (regular + bold) === */
@font-face {
  font-family: "Ari W9500";
  src: url("/fonts/ari/ari-w9500.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ari W9500";
  src: url("/fonts/ari/ari-w9500-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === Ari W9500 Condensed === */
@font-face {
  font-family: "Ari W9500 Condensed";
  src: url("/fonts/ari/ari-w9500-condensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ari W9500 Condensed";
  src: url("/fonts/ari/ari-w9500-condensed-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === Ari W9500 Display === */
@font-face {
  font-family: "Ari W9500 Display";
  src: url("/fonts/ari/ari-w9500-display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ari W9500 Display";
  src: url("/fonts/ari/ari-w9500-condensed-display.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
